<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lou.cloud_office_back.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.lou.cloud_office_back.entity.User">
        <!--        <id column="id" jdbcType="INTEGER" property="id" />-->
        <result column="name" jdbcType="VARCHAR" property="username"></result>
        <!--        <id column="ID" jdbcType="BIGINT" property="id" />-->
        <!--        <result column="NAME" jdbcType="VARCHAR" property="name" />-->
        <!--        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />-->
        <!--        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />-->
        <!--        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />-->
        <!--        <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />-->
    </resultMap>
    <!--    <select id="queryAll" resultType="com.lou.cloud_office_back.entity.User" >-->
    <!--    <select id="getUserInfoAll"  resultType="com.lou.cloud_office_back.entity.User">-->
    <select id="getUserInfoAll" resultMap="BaseResultMap">
        SELECT u.id, u.name, u.`password`, u.role, d.name dept, d.id deptId
        from t_user u
                 left join t_dept d
                           on u.dept = d.id
        where u.name like concat(concat('%', #{keyword}), '%')
        order by u.id desc
    </select>

    <select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT u.id, u.name, u.`password`, u.role, d.name dept, d.id deptId
        from t_user u
                 left join t_dept d
                           on u.dept = d.id
        where u.id = #{id}
    </select>

    <select id="queryUserInfo" resultMap="BaseResultMap">
        select *
        from t_user
        where name = #{username,jdbcType=VARCHAR}
          and password = #{password,jdbcType=VARCHAR}
    </select>


    <insert id="addUser" parameterType="com.lou.cloud_office_back.entity.User">
        INSERT INTO t_user(name, `password`, role, dept)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 0, NULL)
    </insert>

    <insert id="insertUserInfo" parameterType="com.lou.cloud_office_back.entity.User">
        INSERT INTO t_user(name, `password`, role, dept)
        VALUES (#{username,jdbcType=VARCHAR}, 123, #{role,jdbcType=INTEGER}, #{dept,jdbcType=INTEGER})
    </insert>

    <delete id="deleteUserInfo">
        DELETE FROM t_user WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateUserInfo">
        UPDATE t_user
        SET role=#{role,jdbcType=INTEGER},
            dept=#{dept,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <update id="resetPassword" parameterType="com.lou.cloud_office_back.entity.User">
        UPDATE t_user SET password='123' WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="passwordChange">
        UPDATE t_user SET password=#{newPassword,jdbcType=VARCHAR} WHERE id=2 AND `password`=#{password,jdbcType=VARCHAR}
    </update>
</mapper>
